
@mixin prefix($name, $value)
  -webkit-#{$name}: #{$value}
  -moz-#{$name}: #{$value}
  -ms-#{$name}: #{$value}
  #{$name}: #{$value}

@mixin animation($type, $value: null)
  @if $value == null
    @include prefix(animation, #{$type})
  @else
    @include prefix(animation-#{$type}, #{$value})

@mixin transform($type, $value: null)
  pooo: #{$type}
  @if $value == null
    @include prefix(transform, #{$type})
  @else
    @include prefix(transform-#{$type}, #{$value})

@mixin perspective($type, $value: null)
  @if $value == null
    @include prefix(perspective, #{$type})
  @else
    @include prefix(perspective-#{$type}, #{$value})

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(loading-rects-keyframes)
  0%
    background-color: rgba(0, 0, 0, 0.0)
  25%
    background-color: rgba(0, 0, 0, 0.8)
  50%
    background-color: rgba(0, 0, 0, 0.0)

@mixin loading-rects-keyframes($offset, $delay: 0.2)
  @include animation(name, loading-rects-keyframes)
  @include animation(duration, #{$delay * 8}s)
  @include animation(iteration-count, infinite)
  @include animation(timing-function, ease-in-out)
  @include animation(delay, #{$offset * $delay}s)


@mixin loading-rects-spin-keyframes($axis, $more: "")
  +keyframes(loading-rects-spin-#{$axis}-keyframes)
    from
      @include transform("rotate#{$axis}(0deg)")
    to
      @include transform("rotate#{$axis}(360deg)")
  @include animation(loading-rects-spin-#{$axis}-keyframes 5s infinite linear)

@mixin loading-rects-spin-rot45-keyframes($axis, $more: "")
  +keyframes(loading-rects-spin-rot45-#{$axis}-keyframes)
    from
      @include transform("rotate#{$axis}(0deg) rotate(45deg)")
    to
      @include transform("rotate#{$axis}(360deg) rotate(45deg)")
  @include animation(loading-rects-spin-rot45-#{$axis}-keyframes 5s infinite linear)

@mixin loading-rects($size, $margin)
  position: relative
  width: $size
  height: $size
  p
    display: none
    padding: 0
    width: 100% - $margin
    height: 100% - $margin
  &.m3
    width: $size * 3
  &.m3 p
    width: 33.333333333% - $margin
    display: inline-block
    &:nth-child(1)
      @include loading-rects-keyframes(1)
      margin-right: $margin * 1.5
    &:nth-child(2)
      @include loading-rects-keyframes(2)
      margin-right: $margin * 1.5
    &:nth-child(3)
      @include loading-rects-keyframes(3)
  &.m3v
    height: $size * 3
  &.m3v p
    height: 33.333333333% - $margin
    display: block
    &:nth-child(1)
      @include loading-rects-keyframes(1)
      margin-bottom: $margin * 1.5
    &:nth-child(2)
      @include loading-rects-keyframes(2)
      margin-bottom: $margin * 1.5
    &:nth-child(3)
      @include loading-rects-keyframes(3)
  &.m3x3
    width: $size * 3
    height: $size * 3
  &.m3x3 p
    width: 33.333333333% - $margin
    height: 33.333333333% - $margin
    display: block
    position: absolute
    // Top
    &:nth-child(1)
      @include loading-rects-keyframes(1)
      top: 0
      left: 50%
      margin-left: -16.666666667% + $margin * 0.5
    // Top Right
    &:nth-child(2)
      @include loading-rects-keyframes(2)
      top: 0%
      right: 0%
    // Right
    &:nth-child(3)
      @include loading-rects-keyframes(3)
      top: 50%
      right: 0
      margin-top: -16.666666667% + $margin * 0.5
    // Bottom Right
    &:nth-child(4)
      @include loading-rects-keyframes(4)
      bottom: 0
      right: 0
    // Bottom
    &:nth-child(5)
      @include loading-rects-keyframes(5)
      bottom: 0
      left: 50%
      margin-left: -16.666666667% + $margin * 0.5
    // Bottom Left
    &:nth-child(6)
      @include loading-rects-keyframes(6)
      bottom: 0
      left: 0
    // Left
    &:nth-child(7)
      @include loading-rects-keyframes(7)
      top: 50%
      left: 0
      margin-top: -16.666666667% + $margin * 0.5
    // Top Left
    &:nth-child(8)
      @include loading-rects-keyframes(8)
      top: 0
      left: 0
  &.rot45
    @include transform(rotate(45deg))
    margin: #{$size}
  &.spin-x
    @include loading-rects-spin-keyframes(X)
    @include transform(style, preserve-3d)
  &.spin-y
    @include loading-rects-spin-keyframes(Y)
    @include transform(style, preserve-3d)
  &.spin-z
    @include loading-rects-spin-keyframes(Z)
    @include transform(style, preserve-3d)
  &.spin-x.rot45
    @include loading-rects-spin-rot45-keyframes(X)
    @include transform(style, preserve-3d)
  &.spin-y.rot45
    @include loading-rects-spin-rot45-keyframes(Y)
    @include transform(style, preserve-3d)
  &.spin-z.rot45
    @include loading-rects-spin-rot45-keyframes(Z)
    @include transform(style, preserve-3d)

.loading-rects
  @include loading-rects(25px, 5%)

+keyframes(loading-cubes-keyframes)
  from
    @include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg))
  to
    @include transform(rotateX(360deg) rotateY(360deg) rotateZ(360deg))

@mixin lib-3d-cube($size, $face: i)
  $half: $size * 0.5
  @include transform(style, preserve-3d)
  display: block
  position: relative
  width: $size
  height: $size
  #{$face}
    display: block
    position: absolute
    width: $size
    height: $size
    @include prefix(backface-visibility, hidden)
    .debug &
      @include prefix(backface-visibility, visible)
    // Front
    &:nth-child(1)
      &,
      &:before
        @include transform(translateZ($half))
      background-color: rgba(255, 0, 0, 0.25)
      &:before
        .debug &
          content: "Front"
    // Back
    &:nth-child(2)
      &,
      &:before
        @include transform(rotateY(180deg) translateZ($half))
        background-color: rgba(0, 255, 0, 0.25)
      &:before
        .debug &
          content: "Back"
    // Top
    &:nth-child(3)
      &,
      &:before
        @include transform(rotateX(-270deg) translateY(-$half))
        @include transform(origin, top center)
      background-color: rgba(0, 0, 255, 0.25)
      &:before
        .debug &
          content: "Top"
    // Bottom
    &:nth-child(4)
      &,
      &:before
        @include transform(rotateX(270deg) translateY($half))
        @include transform(origin, bottom center)
      background-color: rgba(255, 255, 0, 0.25)
      &:before
        .debug &
          content: "Bottom"
    // Left
    &:nth-child(5)
      &,
      &:before
        @include transform(rotateY(270deg) translateX(-$half))
        @include transform(origin, center left)
      background-color: rgba(0, 255, 255, 0.25)
      &:before
        .debug &
          content: "Left"
    // Right
    &:nth-child(6)
      &,
      &:before
        @include transform(rotateY(-270deg) translateX($half))
        @include transform(origin, top right)
      background-color: rgba(255, 0, 255, 0.25)
      &:before
        .debug & 
          content: "Right"

@mixin loading-cubes($size, $margin)
  $half: $size * 0.5
  @include perspective(900px)
  @include perspective(origin, 50% 50%)
  p
    @include lib-3d-cube($size)
    display: none
    margin: $margin
    i
      background-color: rgba(0, 0, 0, 1)
      border: 1px solid #000
      box-sizing: border-box
  &.m1 p
    @include animation(loading-cubes-keyframes 5s infinite linear)
    &:nth-child(1)
      display: block
  &.m3x3 p
    // Front
    @for $i from 1 through 9
      &:nth-child(#{$i})
        display: inline-block
    // Middle
    @for $i from 10 through 18
      &:nth-child(#{$i})
        display: inline-block
        top: 0
        @include transform(translateY(-$size * 3) translateZ(-$size))

.loading-cubes
  @include loading-cubes(200px, 5%)
