@import loading.sass

@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css)
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css)
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic,300italic,300)

body
  font-family: Ubuntu

body
  > main,
  > header,
  > footer
    padding: 20px
    margin: 0 auto
    max-width: 1000px
  > main
    padding: 0 20px

h1
  font-size: 1.5em
  text-transform: uppercase

h2
  font-size: 1.3em
  text-transform: uppercase
  margin: 20px 0 10px 0

.loading-cubes.m1
  p:nth-child(1):after
    display: block
    position: absolute
    content: "Cube"
    width: 100px
    height: 50px
    top: 50%
    left: 50%
    margin-left: -50px
    margin-top: -25px
    text-align: center
    text-shadow: 0 0 5px #000
    color: #fff
    font-size: 45px
    @include transform(translateZ(101px))
