@import url(//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css);
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic,300italic,300);
@-webkit-keyframes loading-rects-keyframes {
  0% {
    background-color: transparent; }
  25% {
    background-color: rgba(0, 0, 0, 0.8); }
  50% {
    background-color: transparent; } }
@-moz-keyframes loading-rects-keyframes {
  0% {
    background-color: transparent; }
  25% {
    background-color: rgba(0, 0, 0, 0.8); }
  50% {
    background-color: transparent; } }
@-ms-keyframes loading-rects-keyframes {
  0% {
    background-color: transparent; }
  25% {
    background-color: rgba(0, 0, 0, 0.8); }
  50% {
    background-color: transparent; } }
@keyframes loading-rects-keyframes {
  0% {
    background-color: transparent; }
  25% {
    background-color: rgba(0, 0, 0, 0.8); }
  50% {
    background-color: transparent; } }
.loading-rects {
  position: relative;
  width: 25px;
  height: 25px; }
  .loading-rects p {
    display: none;
    padding: 0;
    width: 95%;
    height: 95%; }
  .loading-rects.m3 {
    width: 75px; }
  .loading-rects.m3 p {
    width: 28.33333%;
    display: inline-block; }
    .loading-rects.m3 p:nth-child(1) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      animation-delay: 0.2s;
      margin-right: 7.5%; }
    .loading-rects.m3 p:nth-child(2) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      animation-delay: 0.4s;
      margin-right: 7.5%; }
    .loading-rects.m3 p:nth-child(3) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      -ms-animation-delay: 0.6s;
      animation-delay: 0.6s; }
  .loading-rects.m3v {
    height: 75px; }
  .loading-rects.m3v p {
    height: 28.33333%;
    display: block; }
    .loading-rects.m3v p:nth-child(1) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      animation-delay: 0.2s;
      margin-bottom: 7.5%; }
    .loading-rects.m3v p:nth-child(2) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      animation-delay: 0.4s;
      margin-bottom: 7.5%; }
    .loading-rects.m3v p:nth-child(3) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      -ms-animation-delay: 0.6s;
      animation-delay: 0.6s; }
  .loading-rects.m3x3 {
    width: 75px;
    height: 75px; }
  .loading-rects.m3x3 p {
    width: 28.33333%;
    height: 28.33333%;
    display: block;
    position: absolute; }
    .loading-rects.m3x3 p:nth-child(1) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      animation-delay: 0.2s;
      top: 0;
      left: 50%;
      margin-left: -14.16667%; }
    .loading-rects.m3x3 p:nth-child(2) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      animation-delay: 0.4s;
      top: 0%;
      right: 0%; }
    .loading-rects.m3x3 p:nth-child(3) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      -ms-animation-delay: 0.6s;
      animation-delay: 0.6s;
      top: 50%;
      right: 0;
      margin-top: -14.16667%; }
    .loading-rects.m3x3 p:nth-child(4) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      -ms-animation-delay: 0.8s;
      animation-delay: 0.8s;
      bottom: 0;
      right: 0; }
    .loading-rects.m3x3 p:nth-child(5) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -ms-animation-delay: 1s;
      animation-delay: 1s;
      bottom: 0;
      left: 50%;
      margin-left: -14.16667%; }
    .loading-rects.m3x3 p:nth-child(6) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 1.2s;
      -moz-animation-delay: 1.2s;
      -ms-animation-delay: 1.2s;
      animation-delay: 1.2s;
      bottom: 0;
      left: 0; }
    .loading-rects.m3x3 p:nth-child(7) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 1.4s;
      -moz-animation-delay: 1.4s;
      -ms-animation-delay: 1.4s;
      animation-delay: 1.4s;
      top: 50%;
      left: 0;
      margin-top: -14.16667%; }
    .loading-rects.m3x3 p:nth-child(8) {
      -webkit-animation-name: loading-rects-keyframes;
      -moz-animation-name: loading-rects-keyframes;
      -ms-animation-name: loading-rects-keyframes;
      animation-name: loading-rects-keyframes;
      -webkit-animation-duration: 1.6s;
      -moz-animation-duration: 1.6s;
      -ms-animation-duration: 1.6s;
      animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-delay: 1.6s;
      -moz-animation-delay: 1.6s;
      -ms-animation-delay: 1.6s;
      animation-delay: 1.6s;
      top: 0;
      left: 0; }
  .loading-rects.rot45 {
    pooo: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 25px; }
  .loading-rects.spin-x {
    -webkit-animation: loading-rects-spin-X-keyframes 5s infinite linear;
    -moz-animation: loading-rects-spin-X-keyframes 5s infinite linear;
    -ms-animation: loading-rects-spin-X-keyframes 5s infinite linear;
    animation: loading-rects-spin-X-keyframes 5s infinite linear;
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@-webkit-keyframes loading-rects-spin-X-keyframes {
  from {
    pooo: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  to {
    pooo: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg); } }
@-moz-keyframes loading-rects-spin-X-keyframes {
  from {
    pooo: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  to {
    pooo: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg); } }
@-ms-keyframes loading-rects-spin-X-keyframes {
  from {
    pooo: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  to {
    pooo: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg); } }
@keyframes loading-rects-spin-X-keyframes {
  from {
    pooo: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  to {
    pooo: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg); } }
  .loading-rects.spin-y {
    -webkit-animation: loading-rects-spin-Y-keyframes 5s infinite linear;
    -moz-animation: loading-rects-spin-Y-keyframes 5s infinite linear;
    -ms-animation: loading-rects-spin-Y-keyframes 5s infinite linear;
    animation: loading-rects-spin-Y-keyframes 5s infinite linear;
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@-webkit-keyframes loading-rects-spin-Y-keyframes {
  from {
    pooo: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    pooo: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@-moz-keyframes loading-rects-spin-Y-keyframes {
  from {
    pooo: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    pooo: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@-ms-keyframes loading-rects-spin-Y-keyframes {
  from {
    pooo: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    pooo: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@keyframes loading-rects-spin-Y-keyframes {
  from {
    pooo: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    pooo: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
  .loading-rects.spin-z {
    -webkit-animation: loading-rects-spin-Z-keyframes 5s infinite linear;
    -moz-animation: loading-rects-spin-Z-keyframes 5s infinite linear;
    -ms-animation: loading-rects-spin-Z-keyframes 5s infinite linear;
    animation: loading-rects-spin-Z-keyframes 5s infinite linear;
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@-webkit-keyframes loading-rects-spin-Z-keyframes {
  from {
    pooo: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  to {
    pooo: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
@-moz-keyframes loading-rects-spin-Z-keyframes {
  from {
    pooo: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  to {
    pooo: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
@-ms-keyframes loading-rects-spin-Z-keyframes {
  from {
    pooo: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  to {
    pooo: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
@keyframes loading-rects-spin-Z-keyframes {
  from {
    pooo: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  to {
    pooo: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
  .loading-rects.spin-x.rot45 {
    -webkit-animation: loading-rects-spin-rot45-X-keyframes 5s infinite linear;
    -moz-animation: loading-rects-spin-rot45-X-keyframes 5s infinite linear;
    -ms-animation: loading-rects-spin-rot45-X-keyframes 5s infinite linear;
    animation: loading-rects-spin-rot45-X-keyframes 5s infinite linear;
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@-webkit-keyframes loading-rects-spin-rot45-X-keyframes {
  from {
    pooo: rotateX(0deg) rotate(45deg);
    -webkit-transform: rotateX(0deg) rotate(45deg);
    -moz-transform: rotateX(0deg) rotate(45deg);
    -ms-transform: rotateX(0deg) rotate(45deg);
    transform: rotateX(0deg) rotate(45deg); }
  to {
    pooo: rotateX(360deg) rotate(45deg);
    -webkit-transform: rotateX(360deg) rotate(45deg);
    -moz-transform: rotateX(360deg) rotate(45deg);
    -ms-transform: rotateX(360deg) rotate(45deg);
    transform: rotateX(360deg) rotate(45deg); } }
@-moz-keyframes loading-rects-spin-rot45-X-keyframes {
  from {
    pooo: rotateX(0deg) rotate(45deg);
    -webkit-transform: rotateX(0deg) rotate(45deg);
    -moz-transform: rotateX(0deg) rotate(45deg);
    -ms-transform: rotateX(0deg) rotate(45deg);
    transform: rotateX(0deg) rotate(45deg); }
  to {
    pooo: rotateX(360deg) rotate(45deg);
    -webkit-transform: rotateX(360deg) rotate(45deg);
    -moz-transform: rotateX(360deg) rotate(45deg);
    -ms-transform: rotateX(360deg) rotate(45deg);
    transform: rotateX(360deg) rotate(45deg); } }
@-ms-keyframes loading-rects-spin-rot45-X-keyframes {
  from {
    pooo: rotateX(0deg) rotate(45deg);
    -webkit-transform: rotateX(0deg) rotate(45deg);
    -moz-transform: rotateX(0deg) rotate(45deg);
    -ms-transform: rotateX(0deg) rotate(45deg);
    transform: rotateX(0deg) rotate(45deg); }
  to {
    pooo: rotateX(360deg) rotate(45deg);
    -webkit-transform: rotateX(360deg) rotate(45deg);
    -moz-transform: rotateX(360deg) rotate(45deg);
    -ms-transform: rotateX(360deg) rotate(45deg);
    transform: rotateX(360deg) rotate(45deg); } }
@keyframes loading-rects-spin-rot45-X-keyframes {
  from {
    pooo: rotateX(0deg) rotate(45deg);
    -webkit-transform: rotateX(0deg) rotate(45deg);
    -moz-transform: rotateX(0deg) rotate(45deg);
    -ms-transform: rotateX(0deg) rotate(45deg);
    transform: rotateX(0deg) rotate(45deg); }
  to {
    pooo: rotateX(360deg) rotate(45deg);
    -webkit-transform: rotateX(360deg) rotate(45deg);
    -moz-transform: rotateX(360deg) rotate(45deg);
    -ms-transform: rotateX(360deg) rotate(45deg);
    transform: rotateX(360deg) rotate(45deg); } }
  .loading-rects.spin-y.rot45 {
    -webkit-animation: loading-rects-spin-rot45-Y-keyframes 5s infinite linear;
    -moz-animation: loading-rects-spin-rot45-Y-keyframes 5s infinite linear;
    -ms-animation: loading-rects-spin-rot45-Y-keyframes 5s infinite linear;
    animation: loading-rects-spin-rot45-Y-keyframes 5s infinite linear;
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@-webkit-keyframes loading-rects-spin-rot45-Y-keyframes {
  from {
    pooo: rotateY(0deg) rotate(45deg);
    -webkit-transform: rotateY(0deg) rotate(45deg);
    -moz-transform: rotateY(0deg) rotate(45deg);
    -ms-transform: rotateY(0deg) rotate(45deg);
    transform: rotateY(0deg) rotate(45deg); }
  to {
    pooo: rotateY(360deg) rotate(45deg);
    -webkit-transform: rotateY(360deg) rotate(45deg);
    -moz-transform: rotateY(360deg) rotate(45deg);
    -ms-transform: rotateY(360deg) rotate(45deg);
    transform: rotateY(360deg) rotate(45deg); } }
@-moz-keyframes loading-rects-spin-rot45-Y-keyframes {
  from {
    pooo: rotateY(0deg) rotate(45deg);
    -webkit-transform: rotateY(0deg) rotate(45deg);
    -moz-transform: rotateY(0deg) rotate(45deg);
    -ms-transform: rotateY(0deg) rotate(45deg);
    transform: rotateY(0deg) rotate(45deg); }
  to {
    pooo: rotateY(360deg) rotate(45deg);
    -webkit-transform: rotateY(360deg) rotate(45deg);
    -moz-transform: rotateY(360deg) rotate(45deg);
    -ms-transform: rotateY(360deg) rotate(45deg);
    transform: rotateY(360deg) rotate(45deg); } }
@-ms-keyframes loading-rects-spin-rot45-Y-keyframes {
  from {
    pooo: rotateY(0deg) rotate(45deg);
    -webkit-transform: rotateY(0deg) rotate(45deg);
    -moz-transform: rotateY(0deg) rotate(45deg);
    -ms-transform: rotateY(0deg) rotate(45deg);
    transform: rotateY(0deg) rotate(45deg); }
  to {
    pooo: rotateY(360deg) rotate(45deg);
    -webkit-transform: rotateY(360deg) rotate(45deg);
    -moz-transform: rotateY(360deg) rotate(45deg);
    -ms-transform: rotateY(360deg) rotate(45deg);
    transform: rotateY(360deg) rotate(45deg); } }
@keyframes loading-rects-spin-rot45-Y-keyframes {
  from {
    pooo: rotateY(0deg) rotate(45deg);
    -webkit-transform: rotateY(0deg) rotate(45deg);
    -moz-transform: rotateY(0deg) rotate(45deg);
    -ms-transform: rotateY(0deg) rotate(45deg);
    transform: rotateY(0deg) rotate(45deg); }
  to {
    pooo: rotateY(360deg) rotate(45deg);
    -webkit-transform: rotateY(360deg) rotate(45deg);
    -moz-transform: rotateY(360deg) rotate(45deg);
    -ms-transform: rotateY(360deg) rotate(45deg);
    transform: rotateY(360deg) rotate(45deg); } }
  .loading-rects.spin-z.rot45 {
    -webkit-animation: loading-rects-spin-rot45-Z-keyframes 5s infinite linear;
    -moz-animation: loading-rects-spin-rot45-Z-keyframes 5s infinite linear;
    -ms-animation: loading-rects-spin-rot45-Z-keyframes 5s infinite linear;
    animation: loading-rects-spin-rot45-Z-keyframes 5s infinite linear;
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
@-webkit-keyframes loading-rects-spin-rot45-Z-keyframes {
  from {
    pooo: rotateZ(0deg) rotate(45deg);
    -webkit-transform: rotateZ(0deg) rotate(45deg);
    -moz-transform: rotateZ(0deg) rotate(45deg);
    -ms-transform: rotateZ(0deg) rotate(45deg);
    transform: rotateZ(0deg) rotate(45deg); }
  to {
    pooo: rotateZ(360deg) rotate(45deg);
    -webkit-transform: rotateZ(360deg) rotate(45deg);
    -moz-transform: rotateZ(360deg) rotate(45deg);
    -ms-transform: rotateZ(360deg) rotate(45deg);
    transform: rotateZ(360deg) rotate(45deg); } }
@-moz-keyframes loading-rects-spin-rot45-Z-keyframes {
  from {
    pooo: rotateZ(0deg) rotate(45deg);
    -webkit-transform: rotateZ(0deg) rotate(45deg);
    -moz-transform: rotateZ(0deg) rotate(45deg);
    -ms-transform: rotateZ(0deg) rotate(45deg);
    transform: rotateZ(0deg) rotate(45deg); }
  to {
    pooo: rotateZ(360deg) rotate(45deg);
    -webkit-transform: rotateZ(360deg) rotate(45deg);
    -moz-transform: rotateZ(360deg) rotate(45deg);
    -ms-transform: rotateZ(360deg) rotate(45deg);
    transform: rotateZ(360deg) rotate(45deg); } }
@-ms-keyframes loading-rects-spin-rot45-Z-keyframes {
  from {
    pooo: rotateZ(0deg) rotate(45deg);
    -webkit-transform: rotateZ(0deg) rotate(45deg);
    -moz-transform: rotateZ(0deg) rotate(45deg);
    -ms-transform: rotateZ(0deg) rotate(45deg);
    transform: rotateZ(0deg) rotate(45deg); }
  to {
    pooo: rotateZ(360deg) rotate(45deg);
    -webkit-transform: rotateZ(360deg) rotate(45deg);
    -moz-transform: rotateZ(360deg) rotate(45deg);
    -ms-transform: rotateZ(360deg) rotate(45deg);
    transform: rotateZ(360deg) rotate(45deg); } }
@keyframes loading-rects-spin-rot45-Z-keyframes {
  from {
    pooo: rotateZ(0deg) rotate(45deg);
    -webkit-transform: rotateZ(0deg) rotate(45deg);
    -moz-transform: rotateZ(0deg) rotate(45deg);
    -ms-transform: rotateZ(0deg) rotate(45deg);
    transform: rotateZ(0deg) rotate(45deg); }
  to {
    pooo: rotateZ(360deg) rotate(45deg);
    -webkit-transform: rotateZ(360deg) rotate(45deg);
    -moz-transform: rotateZ(360deg) rotate(45deg);
    -ms-transform: rotateZ(360deg) rotate(45deg);
    transform: rotateZ(360deg) rotate(45deg); } }
@-webkit-keyframes loading-cubes-keyframes {
  from {
    pooo: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  to {
    pooo: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
@-moz-keyframes loading-cubes-keyframes {
  from {
    pooo: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  to {
    pooo: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
@-ms-keyframes loading-cubes-keyframes {
  from {
    pooo: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  to {
    pooo: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
@keyframes loading-cubes-keyframes {
  from {
    pooo: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  to {
    pooo: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
.loading-cubes {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .loading-cubes p {
    pooo: style;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    display: none;
    margin: 5%; }
    .loading-cubes p i {
      display: block;
      position: absolute;
      width: 200px;
      height: 200px;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden; }
      .debug .loading-cubes p i {
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -ms-backface-visibility: visible;
        backface-visibility: visible; }
      .loading-cubes p i:nth-child(1) {
        background-color: rgba(255, 0, 0, 0.25); }
        .loading-cubes p i:nth-child(1), .loading-cubes p i:nth-child(1):before {
          pooo: translateZ(100px);
          -webkit-transform: translateZ(100px);
          -moz-transform: translateZ(100px);
          -ms-transform: translateZ(100px);
          transform: translateZ(100px); }
        .debug .loading-cubes p i:nth-child(1):before {
          content: "Front"; }
      .loading-cubes p i:nth-child(2), .loading-cubes p i:nth-child(2):before {
        pooo: rotateY(180deg) translateZ(100px);
        -webkit-transform: rotateY(180deg) translateZ(100px);
        -moz-transform: rotateY(180deg) translateZ(100px);
        -ms-transform: rotateY(180deg) translateZ(100px);
        transform: rotateY(180deg) translateZ(100px);
        background-color: rgba(0, 255, 0, 0.25); }
      .debug .loading-cubes p i:nth-child(2):before {
        content: "Back"; }
      .loading-cubes p i:nth-child(3) {
        background-color: rgba(0, 0, 255, 0.25); }
        .loading-cubes p i:nth-child(3), .loading-cubes p i:nth-child(3):before {
          pooo: rotateX(-270deg) translateY(-100px);
          -webkit-transform: rotateX(-270deg) translateY(-100px);
          -moz-transform: rotateX(-270deg) translateY(-100px);
          -ms-transform: rotateX(-270deg) translateY(-100px);
          transform: rotateX(-270deg) translateY(-100px);
          pooo: origin;
          -webkit-transform-origin: top center;
          -moz-transform-origin: top center;
          -ms-transform-origin: top center;
          transform-origin: top center; }
        .debug .loading-cubes p i:nth-child(3):before {
          content: "Top"; }
      .loading-cubes p i:nth-child(4) {
        background-color: rgba(255, 255, 0, 0.25); }
        .loading-cubes p i:nth-child(4), .loading-cubes p i:nth-child(4):before {
          pooo: rotateX(270deg) translateY(100px);
          -webkit-transform: rotateX(270deg) translateY(100px);
          -moz-transform: rotateX(270deg) translateY(100px);
          -ms-transform: rotateX(270deg) translateY(100px);
          transform: rotateX(270deg) translateY(100px);
          pooo: origin;
          -webkit-transform-origin: bottom center;
          -moz-transform-origin: bottom center;
          -ms-transform-origin: bottom center;
          transform-origin: bottom center; }
        .debug .loading-cubes p i:nth-child(4):before {
          content: "Bottom"; }
      .loading-cubes p i:nth-child(5) {
        background-color: rgba(0, 255, 255, 0.25); }
        .loading-cubes p i:nth-child(5), .loading-cubes p i:nth-child(5):before {
          pooo: rotateY(270deg) translateX(-100px);
          -webkit-transform: rotateY(270deg) translateX(-100px);
          -moz-transform: rotateY(270deg) translateX(-100px);
          -ms-transform: rotateY(270deg) translateX(-100px);
          transform: rotateY(270deg) translateX(-100px);
          pooo: origin;
          -webkit-transform-origin: center left;
          -moz-transform-origin: center left;
          -ms-transform-origin: center left;
          transform-origin: center left; }
        .debug .loading-cubes p i:nth-child(5):before {
          content: "Left"; }
      .loading-cubes p i:nth-child(6) {
        background-color: rgba(255, 0, 255, 0.25); }
        .loading-cubes p i:nth-child(6), .loading-cubes p i:nth-child(6):before {
          pooo: rotateY(-270deg) translateX(100px);
          -webkit-transform: rotateY(-270deg) translateX(100px);
          -moz-transform: rotateY(-270deg) translateX(100px);
          -ms-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
          pooo: origin;
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -ms-transform-origin: top right;
          transform-origin: top right; }
        .debug .loading-cubes p i:nth-child(6):before {
          content: "Right"; }
    .loading-cubes p i {
      background-color: black;
      border: 1px solid #000;
      box-sizing: border-box; }
  .loading-cubes.m1 p {
    -webkit-animation: loading-cubes-keyframes 5s infinite linear;
    -moz-animation: loading-cubes-keyframes 5s infinite linear;
    -ms-animation: loading-cubes-keyframes 5s infinite linear;
    animation: loading-cubes-keyframes 5s infinite linear; }
    .loading-cubes.m1 p:nth-child(1) {
      display: block; }
  .loading-cubes.m3x3 p:nth-child(1) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(2) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(3) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(4) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(5) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(6) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(7) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(8) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(9) {
    display: inline-block; }
  .loading-cubes.m3x3 p:nth-child(10) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(11) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(12) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(13) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(14) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(15) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(16) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(17) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }
  .loading-cubes.m3x3 p:nth-child(18) {
    display: inline-block;
    top: 0;
    pooo: translateY(-600px) translateZ(-200px);
    -webkit-transform: translateY(-600px) translateZ(-200px);
    -moz-transform: translateY(-600px) translateZ(-200px);
    -ms-transform: translateY(-600px) translateZ(-200px);
    transform: translateY(-600px) translateZ(-200px); }

body {
  font-family: Ubuntu; }

body > main,
body > header,
body > footer {
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px; }
body > main {
  padding: 0 20px; }

h1 {
  font-size: 1.5em;
  text-transform: uppercase; }

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 20px 0 10px 0; }

.loading-cubes.m1 p:nth-child(1):after {
  display: block;
  position: absolute;
  content: "Cube";
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px;
  text-align: center;
  text-shadow: 0 0 5px #000;
  color: #fff;
  font-size: 45px;
  pooo: translateZ(101px);
  -webkit-transform: translateZ(101px);
  -moz-transform: translateZ(101px);
  -ms-transform: translateZ(101px);
  transform: translateZ(101px); }
